<?xml version="1.0"?>

<connectionStrings>
	
	<!--<add name="live_dbName" 
		 connectionString="Data Source=UMSSQLSRV-CU;Initial Catalog=DBUMS;User ID=sa;Pwd=UmsCuca@18484;Pooling=False;"
		 providerName="System.Data.SqlClient" />-->

	<add name="live_dbName"
		 connectionString="Data Source=UTMTEST\SQLEXPRESS2016;Initial Catalog=DBUMS20211010;User ID=sa;Pwd=admin1234;Pooling=False;"
		 providerName="System.Data.SqlClient" />
</connectionStrings>
