<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
	  throwConfigExceptions="true">
	<extensions>
		<add assembly="NLog.Web"/>
	</extensions>
	<targets>
		<target name="db" xsi:type="Database" 
				connectionString="Data Source=UTMTEST\SQLEXPRESS2016;Initial Catalog=DBUMS20230817;User ID=sa;Pwd=admin1234;Pooling=False;"
				commandType="StoredProcedure" 
				commandText="USP_INSERT_NLOG">
			
			<parameter name="@logged" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@machineName" layout="${machinename}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@url" layout="${aspnet-request:serverVariable=HTTP_URL}${aspnet-request:queryString}" />
			<parameter name="@remoteAddress" layout="${aspnet-request:serverVariable=REMOTE_ADDR}:${aspnet-request:serverVariable=REMOTE_PORT}" />
			<parameter name="@callSite" layout="${callsite}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:tostring}" />
			<parameter name="@stacktrace" layout="${stacktrace}" />
			
		</target>
	</targets>
	<rules>
		<logger name="*" writeTo="db" minlevel="Trace" />
	</rules>
</nlog>
